## imports

In [338]:
import pandas as pd
import datetime

In [339]:
def flatten_aggregated_dataframe(
    gdf, concat_name=True, concat_separator=' ', name_level=1, inplace=False):
    """
    Flatten aggregated DataFrame.

    Args:
        gdf: DataFrame obtained through aggregation.
        concat_name: Whether to concatenate original column name and
            aggregation function name in the case of MultiIndex columns.
        concat_separator: Which string to place between original column name
            and aggregation function name if concat_name is True.
        name_level: Which element of a column tuple to use in the case of 
            MultiIndex columns and concat_name == False. Should be 0 for 
            original column name and 1 for aggregation function name.
        inplace: Whether to modify the aggregated DataFrame directly 
            (or return a copy).
    """
    if not inplace:
        gdf = gdf.copy()
    if type(gdf.columns) == pd.core.index.MultiIndex:
        if concat_name:
            columns = [concat_separator.join(col) for col in gdf.columns]
        else:
            columns = [col[name_level % 2] for col in gdf.columns]
        gdf.columns = columns
    return gdf.reset_index()

## create descriptive file

## loading csv files

In [340]:
list_ = []

df = pd.read_csv("joc.csv", skiprows=1, index_col=None)
df.insert(0, "institution", "joc") 
df.insert(1, "typeOfInstitution", "museum") 
list_.append(df)
df = pd.read_csv("llem.csv", skiprows=1, index_col=None)
df.insert(0, "institution", "llem") 
df.insert(1, "typeOfInstitution", "other") 
list_.append(df)
df = pd.read_csv("mdc.csv", skiprows=1, index_col=None)
df.insert(0, "institution", "mdc") 
df.insert(1, "typeOfInstitution", "museum") 
list_.append(df)
df = pd.read_csv("mlel.csv", skiprows=1, index_col=None)
df.insert(0, "institution", "mlel") 
df.insert(1, "typeOfInstitution", "other") 
list_.append(df)
df = pd.read_csv("spl.csv", skiprows=1, index_col=None)
df.insert(0, "institution", "spl") 
df.insert(1, "typeOfInstitution", "library") 
list_.append(df)
df = pd.read_csv("ysl.csv", skiprows=1, index_col=None)
df.insert(0, "institution", "ysl") 
df.insert(1, "typeOfInstitution", "museum") 
list_.append(df)

entries = pd.concat(list_, axis = 0, ignore_index = True)

entries = entries.rename(index=str, columns={"Date": "date", "Entrees": "entrees"})

In [341]:
entries.head()

  institution typeOfInstitution              date  entrees
0         joc            museum  01/11/2018 00:00        0
1         joc            museum  01/11/2018 00:30        0
2         joc            museum  01/11/2018 01:00        0
3         joc            museum  01/11/2018 01:30        0
4         joc            museum  01/11/2018 02:00        0

## re-structuring table

In [342]:
entries.insert(2, "time", "")

In [343]:
entries['date'], entries['time'] = entries['date'].str.split(' ', 1).str
#entries['date'] = pd.to_datetime(entries.date)

### Aggregating by day

In [344]:
entries = entries.groupby(['institution','date']).sum()
entries = flatten_aggregated_dataframe(entries)
#entries = drop
entries

    institution        date  entrees
0           joc  01/01/2019        0
1           joc  01/11/2018    35962
2           joc  01/12/2018    18081
3           joc  02/01/2019    46300
4           joc  02/11/2018    41984
5           joc  02/12/2018    29390
6           joc  03/01/2019    32346
7           joc  03/11/2018    29930
8           joc  03/12/2018    23393
9           joc  04/01/2019    36077
10          joc  04/11/2018    29092
11          joc  04/12/2018        0
12          joc  05/01/2019    32336
13          joc  05/11/2018    22184
14          joc  05/12/2018    26207
15          joc  06/01/2019    24238
16          joc  06/11/2018        0
17          joc  06/12/2018    20436
18          joc  07/01/2019    18619
19          joc  07/11/2018    26093
20          joc  07/12/2018    32302
21          joc  08/01/2019        0
22          joc  08/11/2018    19305
23          joc  08/12/2018        0
24          joc  09/01/2019    23489
25          joc  09/11/2018    27565
26          joc  09/12/2018    24903
27          joc  10/01/2019    15794
28          joc  10/11/2018    29326
29          joc  10/12/2018    21815
..          ...         ...      ...
504         ysl  20/12/2018      503
505         ysl  21/01/2019        0
506         ysl  21/11/2018      687
507         ysl  21/12/2018      611
508         ysl  22/01/2019     1378
509         ysl  22/11/2018      814
510         ysl  22/12/2018      665
511         ysl  23/01/2019     1320
512         ysl  23/11/2018     1180
513         ysl  23/12/2018      897
514         ysl  24/01/2019     1257
515         ysl  24/11/2018     1149
516         ysl  24/12/2018        0
517         ysl  25/01/2019     2100
518         ysl  25/11/2018     1338
519         ysl  25/12/2018        0
520         ysl  26/01/2019     1614
521         ysl  26/11/2018        0
522         ysl  26/12/2018     1148
523         ysl  27/01/2019     1515
524         ysl  27/11/2018      963
525         ysl  27/12/2018     1346
526         ysl  28/01/2019        0
527         ysl  28/11/2018      793
528         ysl  28/12/2018     1806
529         ysl  29/11/2018      735
530         ysl  29/12/2018     1283
531         ysl  30/11/2018     1272
532         ysl  30/12/2018     1368
533         ysl  31/12/2018        0

[534 rows x 3 columns]

In [345]:
entries['day'], entries['month'], entries['year'] = entries['date'].str.split('/').str

In [346]:
entries['week'] = pd.to_datetime(entries['date'], format='%d/%m/%Y').dt.week

In [347]:
entries.head()

  institution        date  entrees day month  year  week
0         joc  01/01/2019        0  01    01  2019     1
1         joc  01/11/2018    35962  01    11  2018    44
2         joc  01/12/2018    18081  01    12  2018    48
3         joc  02/01/2019    46300  02    01  2019     1
4         joc  02/11/2018    41984  02    11  2018    44

## make the dataset smaller

Restrain to january 2019

In [348]:
#entries = entries[entries.date.str.contains("2019")]

## compute cumulative data

In [360]:
entries = entries.sort_values(['institution','year', 'month','day'], ascending=True)

In [362]:
entries.reset_index(drop=True)

     index institution        date  entrees day month  year  week  sumentrees
0        1         joc  01/11/2018    35962  01    11  2018    44       35962
1        4         joc  02/11/2018    41984  02    11  2018    44      142327
2        7         joc  03/11/2018    29930  03    11  2018    44      233993
3       10         joc  04/11/2018    29092  04    11  2018    44      322555
4       13         joc  05/11/2018    22184  05    11  2018    45      377075
5       16         joc  06/11/2018        0  06    11  2018    45      427520
6       19         joc  07/11/2018    26093  07    11  2018    45      492668
7       22         joc  08/11/2018    19305  08    11  2018    45      544275
8       25         joc  09/11/2018    27565  09    11  2018    45      595329
9       28         joc  10/11/2018    29326  10    11  2018    45      665352
10      31         joc  11/11/2018    26688  11    11  2018    45      737731
11      34         joc  12/11/2018    25813  12    11  2018    46      782190
12      37         joc  13/11/2018        0  13    11  2018    46      823620
13      40         joc  14/11/2018    21003  14    11  2018    46      883189
14      43         joc  15/11/2018    22935  15    11  2018    46      931587
15      46         joc  16/11/2018    32804  16    11  2018    46     1003713
16      49         joc  17/11/2018    25511  17    11  2018    46     1069356
17      52         joc  18/11/2018    23699  18    11  2018    46     1140347
18      55         joc  19/11/2018    27921  19    11  2018    47     1190708
19      58         joc  20/11/2018        0  20    11  2018    47     1239347
20      61         joc  21/11/2018    32002  21    11  2018    47     1313352
21      64         joc  22/11/2018    23338  22    11  2018    47     1362449
22      67         joc  23/11/2018    30072  23    11  2018    47     1438098
23      70         joc  24/11/2018    26370  24    11  2018    47     1507730
24      73         joc  25/11/2018    25540  25    11  2018    47     1589161
25      76         joc  26/11/2018    24680  26    11  2018    48     1636357
26      79         joc  27/11/2018        0  27    11  2018    48     1699167
27      82         joc  28/11/2018    25561  28    11  2018    48     1782505
28      84         joc  29/11/2018    18751  29    11  2018    48     1849619
29      86         joc  30/11/2018    25456  30    11  2018    48     1908025
..     ...         ...         ...      ...  ..   ...   ...   ...         ...
504    532         ysl  30/12/2018     1368  30    12  2018    52       78676
505    533         ysl  31/12/2018        0  31    12  2018     1       78676
506    445         ysl  01/01/2019        0  01    01  2019     1           0
507    448         ysl  02/01/2019     1435  02    01  2019     1        3825
508    451         ysl  03/01/2019     1414  03    01  2019     1        8441
509    454         ysl  04/01/2019     1776  04    01  2019     1       11723
510    457         ysl  05/01/2019     1360  05    01  2019     1       15163
511    460         ysl  06/01/2019     1183  06    01  2019     1       16953
512    463         ysl  07/01/2019        0  07    01  2019     2       18483
513    466         ysl  08/01/2019      731  08    01  2019     2       20894
514    469         ysl  09/01/2019      704  09    01  2019     2       22406
515    472         ysl  10/01/2019      720  10    01  2019     2       24784
516    475         ysl  11/01/2019     1079  11    01  2019     2       27329
517    478         ysl  12/01/2019     1238  12    01  2019     2       30476
518    481         ysl  13/01/2019     1529  13    01  2019     2       32628
519    484         ysl  14/01/2019        0  14    01  2019     3       34042
520    487         ysl  15/01/2019      871  15    01  2019     3       36489
521    490         ysl  16/01/2019      939  16    01  2019     3       38216
522    493         ysl  17/01/2019     1068  17    01  2019     3       41415
523    496         ysl  18/01/2019     1743  18    01  2019     3       44489
524    499         ysl  19/01/2019     1446  19    01  2019     3       47806
525    502         ysl  20/01/2019     1661  20    01  2019     3       50073
526    505         ysl  21/01/2019        0  21    01  2019     4       51437
527    508         ysl  22/01/2019     1378  22    01  2019     4       54113
528    511         ysl  23/01/2019     1320  23    01  2019     4       56912
529    514         ysl  24/01/2019     1257  24    01  2019     4       60246
530    517         ysl  25/01/2019     2100  25    01  2019     4       63495
531    520         ysl  26/01/2019     1614  26    01  2019     4       66447
532    523         ysl  27/01/2019     1515  27    01  2019     4       69110
533    526         ysl  28/01/2019        0  28    01  2019     5       71419

[534 rows x 9 columns]

In [ ]:
entries.to_csv("3_months.csv", sep=',', encoding='utf-8', index=False)