## imports

In [104]:
import pandas as pd

## create descriptive file

## loading csv files

In [124]:
list_ = []

df = pd.read_csv("joc.csv", skiprows=1, index_col=None)
df.insert(0, "id", "joc") 
df.insert(1, "group", "museum") 
list_.append(df)
df = pd.read_csv("llem.csv", skiprows=1, index_col=None)
df.insert(0, "id", "llem") 
df.insert(1, "group", "other") 
list_.append(df)
df = pd.read_csv("mdc.csv", skiprows=1, index_col=None)
df.insert(0, "id", "mdc") 
df.insert(1, "group", "museum") 
list_.append(df)
df = pd.read_csv("mlel.csv", skiprows=1, index_col=None)
df.insert(0, "id", "mlel") 
df.insert(1, "group", "other") 
list_.append(df)
df = pd.read_csv("spl.csv", skiprows=1, index_col=None)
df.insert(0, "id", "spl") 
df.insert(1, "group", "library") 
list_.append(df)
df = pd.read_csv("ysl.csv", skiprows=1, index_col=None)
df.insert(0, "id", "ysl") 
df.insert(1, "group", "museum") 
list_.append(df)

entries = pd.concat(list_, axis = 0, ignore_index = True)

entries = entries.rename(index=str, columns={"Date": "date", "Entrees": "entrees"})

In [125]:
entries.head()

    id   group              date  entrees
0  joc  museum  01/11/2018 00:00        0
1  joc  museum  01/11/2018 00:30        0
2  joc  museum  01/11/2018 01:00        0
3  joc  museum  01/11/2018 01:30        0
4  joc  museum  01/11/2018 02:00        0

## re-structuring table

In [126]:
entries.insert(2, "time", "")

In [127]:
entries['date'], entries['time'] = entries['date'].str.split(' ', 1).str

In [128]:
entries.head()

    id   group   time        date  entrees
0  joc  museum  00:00  01/11/2018        0
1  joc  museum  00:30  01/11/2018        0
2  joc  museum  01:00  01/11/2018        0
3  joc  museum  01:30  01/11/2018        0
4  joc  museum  02:00  01/11/2018        0

## make the dataset smaller

Restrain to january 2019

In [129]:
entries = entries[entries.date.str.contains("2019")]

## compute cumulative data

In [130]:
entries['sumentrees'] = entries.groupby(['id'])['entrees'].cumsum()

In [131]:
print(entries)

        id   group   time        date  entrees  sumentrees
2928   joc  museum  00:00  01/01/2019        0           0
2929   joc  museum  00:30  01/01/2019        0           0
2930   joc  museum  01:00  01/01/2019        0           0
2931   joc  museum  01:30  01/01/2019        0           0
2932   joc  museum  02:00  01/01/2019        0           0
2933   joc  museum  02:30  01/01/2019        0           0
2934   joc  museum  03:00  01/01/2019        0           0
2935   joc  museum  03:30  01/01/2019        0           0
2936   joc  museum  04:00  01/01/2019        0           0
2937   joc  museum  04:30  01/01/2019        0           0
2938   joc  museum  05:00  01/01/2019        0           0
2939   joc  museum  05:30  01/01/2019        0           0
2940   joc  museum  06:00  01/01/2019        0           0
2941   joc  museum  06:30  01/01/2019        0           0
2942   joc  museum  07:00  01/01/2019        0           0
2943   joc  museum  07:30  01/01/2019        0           0
2944   joc  museum  08:00  01/01/2019        0           0
2945   joc  museum  08:30  01/01/2019        0           0
2946   joc  museum  09:00  01/01/2019        0           0
2947   joc  museum  09:30  01/01/2019        0           0
2948   joc  museum  10:00  01/01/2019        0           0
2949   joc  museum  10:30  01/01/2019        0           0
2950   joc  museum  11:00  01/01/2019        0           0
2951   joc  museum  11:30  01/01/2019        0           0
2952   joc  museum  12:00  01/01/2019        0           0
2953   joc  museum  12:30  01/01/2019        0           0
2954   joc  museum  13:00  01/01/2019        0           0
2955   joc  museum  13:30  01/01/2019        0           0
2956   joc  museum  14:00  01/01/2019        0           0
2957   joc  museum  14:30  01/01/2019        0           0
...    ...     ...    ...         ...      ...         ...
25602  ysl  museum  09:00  28/01/2019        0       30081
25603  ysl  museum  09:30  28/01/2019        0       30081
25604  ysl  museum  10:00  28/01/2019        0       30081
25605  ysl  museum  10:30  28/01/2019        0       30081
25606  ysl  museum  11:00  28/01/2019        0       30081
25607  ysl  museum  11:30  28/01/2019        0       30081
25608  ysl  museum  12:00  28/01/2019        0       30081
25609  ysl  museum  12:30  28/01/2019        0       30081
25610  ysl  museum  13:00  28/01/2019        0       30081
25611  ysl  museum  13:30  28/01/2019        0       30081
25612  ysl  museum  14:00  28/01/2019        0       30081
25613  ysl  museum  14:30  28/01/2019        0       30081
25614  ysl  museum  15:00  28/01/2019        0       30081
25615  ysl  museum  15:30  28/01/2019        0       30081
25616  ysl  museum  16:00  28/01/2019        0       30081
25617  ysl  museum  16:30  28/01/2019        0       30081
25618  ysl  museum  17:00  28/01/2019        0       30081
25619  ysl  museum  17:30  28/01/2019        0       30081
25620  ysl  museum  18:00  28/01/2019        0       30081
25621  ysl  museum  18:30  28/01/2019        0       30081
25622  ysl  museum  19:00  28/01/2019        0       30081
25623  ysl  museum  19:30  28/01/2019        0       30081
25624  ysl  museum  20:00  28/01/2019        0       30081
25625  ysl  museum  20:30  28/01/2019        0       30081
25626  ysl  museum  21:00  28/01/2019        0       30081
25627  ysl  museum  21:30  28/01/2019        0       30081
25628  ysl  museum  22:00  28/01/2019        0       30081
25629  ysl  museum  22:30  28/01/2019        0       30081
25630  ysl  museum  23:00  28/01/2019        0       30081
25631  ysl  museum  23:30  28/01/2019        0       30081

[8064 rows x 6 columns]

In [132]:
entries.to_csv("all_january.csv", sep=',', encoding='utf-8', index=False)