# World Population Dataset

Source: https://github.com/datasets/population

Raw data

<pre>
Country Name,Country Code,Year,Value
Arab World,ARB,1960,92490932
Arab World,ARB,1961,95044497
Arab World,ARB,1962,97682294
Arab World,ARB,1963,100411076
Arab World,ARB,1964,103239902
Arab World,ARB,1965,106174988
Arab World,ARB,1966,109230593
</pre>

In [127]:
import pandas as pd
import datetime

In [140]:
df = pd.read_csv("population-raw.csv")
df

      Country Name Country Code  Year        Value
0       Arab World          ARB  1960   92490932.0
1       Arab World          ARB  1961   95044497.0
2       Arab World          ARB  1962   97682294.0
3       Arab World          ARB  1963  100411076.0
4       Arab World          ARB  1964  103239902.0
5       Arab World          ARB  1965  106174988.0
6       Arab World          ARB  1966  109230593.0
7       Arab World          ARB  1967  112406932.0
8       Arab World          ARB  1968  115680165.0
9       Arab World          ARB  1969  119016542.0
10      Arab World          ARB  1970  122398374.0
11      Arab World          ARB  1971  125807419.0
12      Arab World          ARB  1972  129269375.0
13      Arab World          ARB  1973  132863416.0
14      Arab World          ARB  1974  136696761.0
15      Arab World          ARB  1975  140843298.0
16      Arab World          ARB  1976  145332378.0
17      Arab World          ARB  1977  150133054.0
18      Arab World          ARB  1978  155183724.0
19      Arab World          ARB  1979  160392488.0
20      Arab World          ARB  1980  165689490.0
21      Arab World          ARB  1981  171051950.0
22      Arab World          ARB  1982  176490084.0
23      Arab World          ARB  1983  182005827.0
24      Arab World          ARB  1984  187610756.0
25      Arab World          ARB  1985  193310301.0
26      Arab World          ARB  1986  199093767.0
27      Arab World          ARB  1987  204942549.0
28      Arab World          ARB  1988  210844771.0
29      Arab World          ARB  1989  216787402.0
...            ...          ...   ...          ...
14855     Zimbabwe          ZWE  1987    9293283.0
14856     Zimbabwe          ZWE  1988    9604302.0
14857     Zimbabwe          ZWE  1989    9902540.0
14858     Zimbabwe          ZWE  1990   10183113.0
14859     Zimbabwe          ZWE  1991   10443043.0
14860     Zimbabwe          ZWE  1992   10682868.0
14861     Zimbabwe          ZWE  1993   10905756.0
14862     Zimbabwe          ZWE  1994   11116948.0
14863     Zimbabwe          ZWE  1995   11320346.0
14864     Zimbabwe          ZWE  1996   11518262.0
14865     Zimbabwe          ZWE  1997   11709997.0
14866     Zimbabwe          ZWE  1998   11893272.0
14867     Zimbabwe          ZWE  1999   12064537.0
14868     Zimbabwe          ZWE  2000   12222251.0
14869     Zimbabwe          ZWE  2001   12366165.0
14870     Zimbabwe          ZWE  2002   12500525.0
14871     Zimbabwe          ZWE  2003   12633897.0
14872     Zimbabwe          ZWE  2004   12777511.0
14873     Zimbabwe          ZWE  2005   12940032.0
14874     Zimbabwe          ZWE  2006   13124267.0
14875     Zimbabwe          ZWE  2007   13329909.0
14876     Zimbabwe          ZWE  2008   13558469.0
14877     Zimbabwe          ZWE  2009   13810599.0
14878     Zimbabwe          ZWE  2010   14086317.0
14879     Zimbabwe          ZWE  2011   14386649.0
14880     Zimbabwe          ZWE  2012   14710826.0
14881     Zimbabwe          ZWE  2013   15054506.0
14882     Zimbabwe          ZWE  2014   15411675.0
14883     Zimbabwe          ZWE  2015   15777451.0
14884     Zimbabwe          ZWE  2016   16150362.0

[14885 rows x 4 columns]

In [141]:
df.groupby(df['Country Code'])

In [142]:
# Total sum by country
df.groupby('Country Code')['Value'].apply(lambda x: x.sum()).head()

Country Code
ABW      4258605.0
AFG    971305809.0
AGO    757663953.0
ALB    153903806.0
AND      2861706.0
Name: Value, dtype: float64

In [143]:
frames = []
for name, group in df.groupby('Country Code'):
    
    group.is_copy = False
    group['birthValue'] = group['Value'] - group['Value'].shift(1)
    frames.append(group)

result = pd.concat(frames)
result['birthValue'].fillna(0, inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4384: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4385: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

In [144]:
result.rename(columns={'Value':'populationValue', 'Country Name': 'countryName', 'Country Code': 'countryCode'}, inplace=True)

In [151]:
result.to_csv("population-data.csv", sep=',', encoding='utf-8', index=False)