## imports

In [37]:
import pandas as pd

## loading csv files

In [51]:
list_ = []

df = pd.read_csv("joc.csv", skiprows=1, index_col=None)
df.insert(0, "Key", "joc") 
list_.append(df)
df = pd.read_csv("llem.csv", skiprows=1, index_col=None)
df.insert(0, "Key", "llem") 
list_.append(df)
df = pd.read_csv("mdc.csv", skiprows=1, index_col=None)
df.insert(0, "Key", "mdc") 
list_.append(df)
df = pd.read_csv("mlel.csv", skiprows=1, index_col=None)
df.insert(0, "Key", "mlel") 
list_.append(df)
df = pd.read_csv("spl.csv", skiprows=1, index_col=None)
df.insert(0, "Key", "spl") 
list_.append(df)
df = pd.read_csv("ysl.csv", skiprows=1, index_col=None)
df.insert(0, "Key", "ysl") 
list_.append(df)

entries = pd.concat(list_, axis = 0, ignore_index = True)

In [52]:
entries.head()

   Key              Date  Entrees
0  joc  01/11/2018 00:00        0
1  joc  01/11/2018 00:30        0
2  joc  01/11/2018 01:00        0
3  joc  01/11/2018 01:30        0
4  joc  01/11/2018 02:00        0

## re-structuring table

In [53]:
entries.insert(2, "Time", "")

In [54]:
entries['Date'], entries['Time'] = entries['Date'].str.split(' ', 1).str

In [55]:
entries.head()

   Key        Date   Time  Entrees
0  joc  01/11/2018  00:00        0
1  joc  01/11/2018  00:30        0
2  joc  01/11/2018  01:00        0
3  joc  01/11/2018  01:30        0
4  joc  01/11/2018  02:00        0

## compute cumulative data

In [56]:
entries['EntreesCumulative'] = entries.groupby(['Key'])['Entrees'].cumsum()

In [57]:
print(entries)

       Key        Date   Time  Entrees  EntreesCumulative
0      joc  01/11/2018  00:00        0                  0
1      joc  01/11/2018  00:30        0                  0
2      joc  01/11/2018  01:00        0                  0
3      joc  01/11/2018  01:30        0                  0
4      joc  01/11/2018  02:00        0                  0
5      joc  01/11/2018  02:30        0                  0
6      joc  01/11/2018  03:00        0                  0
7      joc  01/11/2018  03:30        0                  0
8      joc  01/11/2018  04:00        0                  0
9      joc  01/11/2018  04:30        0                  0
10     joc  01/11/2018  05:00        0                  0
11     joc  01/11/2018  05:30        0                  0
12     joc  01/11/2018  06:00        0                  0
13     joc  01/11/2018  06:30        0                  0
14     joc  01/11/2018  07:00        0                  0
15     joc  01/11/2018  07:30        0                  0
16     joc  01/11/2018  08:00        0                  0
17     joc  01/11/2018  08:30        0                  0
18     joc  01/11/2018  09:00       15                 15
19     joc  01/11/2018  09:30     2330               2345
20     joc  01/11/2018  10:00     2166               4511
21     joc  01/11/2018  10:30     2977               7488
22     joc  01/11/2018  11:00     2055               9543
23     joc  01/11/2018  11:30     2123              11666
24     joc  01/11/2018  12:00     2175              13841
25     joc  01/11/2018  12:30     1793              15634
26     joc  01/11/2018  13:00     1865              17499
27     joc  01/11/2018  13:30     2043              19542
28     joc  01/11/2018  14:00     1854              21396
29     joc  01/11/2018  14:30     2340              23736
...    ...         ...    ...      ...                ...
25602  ysl  28/01/2019  09:00        0              78676
25603  ysl  28/01/2019  09:30        0              78676
25604  ysl  28/01/2019  10:00        0              78676
25605  ysl  28/01/2019  10:30        0              78676
25606  ysl  28/01/2019  11:00        0              78676
25607  ysl  28/01/2019  11:30        0              78676
25608  ysl  28/01/2019  12:00        0              78676
25609  ysl  28/01/2019  12:30        0              78676
25610  ysl  28/01/2019  13:00        0              78676
25611  ysl  28/01/2019  13:30        0              78676
25612  ysl  28/01/2019  14:00        0              78676
25613  ysl  28/01/2019  14:30        0              78676
25614  ysl  28/01/2019  15:00        0              78676
25615  ysl  28/01/2019  15:30        0              78676
25616  ysl  28/01/2019  16:00        0              78676
25617  ysl  28/01/2019  16:30        0              78676
25618  ysl  28/01/2019  17:00        0              78676
25619  ysl  28/01/2019  17:30        0              78676
25620  ysl  28/01/2019  18:00        0              78676
25621  ysl  28/01/2019  18:30        0              78676
25622  ysl  28/01/2019  19:00        0              78676
25623  ysl  28/01/2019  19:30        0              78676
25624  ysl  28/01/2019  20:00        0              78676
25625  ysl  28/01/2019  20:30        0              78676
25626  ysl  28/01/2019  21:00        0              78676
25627  ysl  28/01/2019  21:30        0              78676
25628  ysl  28/01/2019  22:00        0              78676
25629  ysl  28/01/2019  22:30        0              78676
25630  ysl  28/01/2019  23:00        0              78676
25631  ysl  28/01/2019  23:30        0              78676

[25632 rows x 5 columns]

In [59]:
entries.to_csv("all.csv", sep=',', encoding='utf-8')